{
    email {$EMAIL}
}

{$DOMAIN} {
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy nodejs:3001
    }
    handle {
        root * /app/frontend/dist
        try_files {path} /index.html
        file_server
        encode zstd gzip
    }
}